$background: hsl(0, 0%, 95%); // #f1f1f1
$card-footer-background: hsl(0, 0%, 95%, 0.5); // #f1f1f1 50% opacity
$divider: hsl(0, 0%, 92%); // #ebebeb
$box-shadow-bg: hsl(0, 0%, 20%, 0.1); // #333 10% opacity


$title-color: hsl(206, 7%, 48%);
$text-color: hsl(0, 0%, 71%);

$info: hsl(217, 100%, 71%);
$warning: hsl(29, 100%, 60%);
$danger: hsl(347, 85%, 51%);
$white: hsl(0, 0%, 100%);
