import React from 'react'
import styles from './styles.scss'

function {{pascalCase name}}() {
  return (
    <div className={styles.container}>
      <h1>{{pascalCase name}}</h1>
    </div>
  )
}

export { {{pascalCase name}} }
