import React from 'react'
import styles from './styles.module.scss'

type {{pascalCase name}} = {
  children: React.ReactNode | React.ReactNode[]
}

function {{pascalCase name}}({ children }: {{pascalCase name}}) {
  return (
    <main className={styles.container}>
      {children}
    </main>
  )
}

export { {{pascalCase name}} }
